<html lang="en">

<head>
    <% include ../../partials/Excess/head %>
</head>

<body>
    <style>
        .pageActive {
        background-color: grey;
    }    
    </style>
    <header>

    </header>
    <main>


        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
            <a href="#" class="w3-bar-item w3-button">Register Executive</a>
            <a href="#" class="w3-bar-item w3-button">Partial Complete</a>
            <a href="#" class="w3-bar-item w3-button">Calender</a>
            <a href="#" class="w3-bar-item w3-button">Scheduler</a>
            <a href="#" class="w3-bar-item w3-button">Unlock</a>
            <a href="#" class="w3-bar-item w3-button">Reports</a>
        </div>
        <div id="main">
            <div id="executives">
                <div class="w3-teal">
                    <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
                    <div class="w3-container">
                        <h1>ExecCare Admin</h1>
                    </div>
                </div>
                <div class="w3-container">
                    <div>
                        <img src="/ExeccareProfessionalServices/public/images/Dashboard.jpg" class="dashboard" />
                    </div>

                    <div class="form-group row" style="margin-left:50px;padding-top: 10px;">

                        <div class="col-xs-4">
                            <label for="ex3" style="font-weight: bold;font-size: 20px;">Search</label>
                            <input class="form-control" type="text" v-model="searcht" id="search">
                        </div>
                    </div>

                    <div>
                        <table class="w3-table w3-bordered w3-hoverable">
                            <thead>
                                <tr class="w3-red">
                                    <th>ID</th>
                                    <th> Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th>Client</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr v-for="executive in execs">
                                <td>{{executive.ID}} </td>
                                <td>{{executive.Name}} </td>
                                <td>{{executive.Surname}} </td>
                                <td>{{executive.Email}} </td>
                                <td>{{executive.Client}} </td>
                                <td>{{executive.Status}} </td>
                                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter"
                                        v-on:click="GetExecutive(executive)">Goto executive
                                    </button></td>
                            </tr>

                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" v-on:click="GotoPage(-1)">Previous</a></li>
                                <li class="page-item" v-for="page in pages"><a class="page-link" :class="{pageActive:page==currentPage}"
                                        v-on:click="QueryPage(page)">{{page}}</a></li>
                                <li class="page-item"><a class="page-link" v-on:click="GotoPage(1)">Next</a></li>
                            </ul>
                        </nav>

                    </div>

                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content" style="width:106% !important">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Executive</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div v-if="exec" class="modal-body">
                                    <div class="conrolpanelimg">
                                        <img src="/ExeccareProfessionalServices/public/images/ExecutiveControlPanel.jpg" />
                                    </div>

                                    <div class="controlbooking">
                                        <p>
                                            This page is used to control the booking details for a user. Please make
                                            sure that you do not double book and that you use
                                            the "Delete" button to remove a booking completely or the "Change date"
                                            button
                                            if the booking needs to be moved to another day.
                                        </p>
                                    </div>
                                    <div class="execdetails">
                                        {{exec.Name}} {{exec.Surname}}
                                    </div>
                                    <div class="datetime">
                                        <p id="startdate">{{startdate ? startdate : 'Not Booked'}} </p>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-primary">Add</button>
                                    <button type="button" class="btn btn-success" data-toggle="modal" v-on:click="GetBooking()"
                                        data-target="#cancelbookingModal">Cancel
                                        booking</button>
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#reschedulemodal"
                                        v-on:click="Reschedule()">Reschedule</button>
                                    <button type="button " class="btn btn-info">Goto booking</button>
                                    <button type="button " class="btn btn-dark">Resend Mail</button>
                                    <button type="button " class="btn btn-light">Edit Details</button>
                                    <button type="button " class="btn btn-success">Save changes</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="reschedulemodal" tabindex="-1" role="dialog" aria-labelledby="reschedulemodal"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document ">
                        <div class="modal-content" style="width:106% !important">
                            <div class="modal-header">
                                <h5 class="modal-title " id="exampleModalLongTitle">Cancel Booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true ">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body ">
                                <div class="conrolpanelimg">
                                    <img src="/ExeccareProfessionalServices/public/images/Rescedule.jpg " />
                                </div>


                                <div class="input-group bootstrap-timepicker timepicker">
                                    <div class="date">
                                        <input v-model="startingdate" id="datepicker" width="276" class="form-control" />
                                    </div>

                                    <div class="time">
                                        <input v-model="startdate" id="timepicker1" type="text" class="form-control input-small">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>

                                    </div>
                                </div>


                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" v-on:click="GetBooking()">Ok</button>

                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="modal fade" id="cancelbookingModal" tabindex="-1" role="dialog" aria-labelledby="cancelbookingModal"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document ">
                        <div class="modal-content" style="width:106% !important">
                            <div class="modal-header">
                                <h5 class="modal-title " id="exampleModalLongTitle">Cancel Booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true ">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body ">
                                <div class="conrolpanelimg">
                                    <img src="/ExeccareProfessionalServices/public/images/CancelBooking.jpg " />
                                </div>


                                <div class="controlbooking">
                                    <p>
                                        This process can not be reverted. Please make 100% sure you want to delete
                                        the booking and not simply change the booking. For changing booking click
                                        on "back" and then on Edit
                                    </p>

                                </div>

                                <div class="execdetails">
                                    {{Name}} {{Surname}}
                                </div>
                                <div class="bookingdate">
                                    <p>Delete the booking on {{startdate}}</p>
                                  
                                </div>


                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" v-on:click="CancelBooking()">Ok</button>

                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        </div>
        </div>

    </main>


    <footer>

    </footer>


    <script>

        const searchText = _.debounce((val) => {

            app.SearchExecutives(val);

        }, 300);

        const breakPages = (currentPage, recordCount) => {
            let pages = [];
            const totalPages = Math.ceil(recordCount / 100);

            const pagesLeft = totalPages - currentPage;

            console.log(totalPages);
            console.log(pagesLeft);

            if (totalPages > 1) {

                let newPageNum = currentPage;

                pages.push(currentPage);

                for (let index = 1; index < pagesLeft + 1; index++) {

                    pages.push(newPageNum + index);
                }

                return pages;
            } else {
                return pages.push(1);
            }


        };

        var app = new Vue({
            el: '#executives',
            data: {

                execs: [],
                exec: null,
                startdate: '',
                starttime: '',
                startingdate: '',
                startingtime: '',
                searcht: '',
                totalrecords: '',
                displayrecords: 100,
                pages: [],
                currentPage: 1,
                totalPages: 0,
                Name: '',
                Surname: '',
                Memberid: '',
                startdatetime: ''

            },
            watch: {

                searcht: searchText,
                currentPage: function (newValue) {

                    this.GetExecutives(this.currentPage, this.searcht);

                }
            },
            created: function () {
                this.GetExecutives(1, '');
            },
            methods: {
                GotoPage: function (where) {

                    if (where > 0) {
                        if (this.currentPage < Math.ceil(this.totalrecords / 100)) {
                            this.currentPage += 1;
                        } else {
                            this.currentPage = 1;
                        }
                    } else {
                        if (this.currentPage > 0) {
                            this.currentPage = this.currentPage - 1;
                        }
                    }
                },
                QueryPage: function (page) {
                    this.currentPage = page;
                },
                GetExecutives: function (page, search) {

                    let searchVal = search ? search : '-';

                    axios.get('/ExeccareProfessionalServices/getExecutives/' + this.currentPage + "/" + searchVal)

                        .then(response => {
                            console.log(response.data);
                            this.execs = response.data.data;
                            this.totalrecords = response.data.Counts.Total;

                            this.pages = breakPages(this.currentPage, this.totalrecords);
                        });
                },

                SearchExecutives: function (newValue) {

                    this.GetExecutives(1, newValue);
                },

                GetExecutive: function (exec) {

                    this.exec = exec;

                    axios.get('/ExeccareProfessionalServices/getDates/' + exec.MemGUID)
                        .then(response => {

                            this.startdate = response.data.startingDate;

                            console.log("***************", response.data.startingDate);

                        });

                },

                Reschedule: function () {
                    $('#exampleModalCenter').modal('hide');
                    $('#datepicker').datepicker({
                        uiLibrary: 'bootstrap4'
                    });
                    $('#timepicker1').timepicker();
                    $('#timepicker1').val(this.starttime);
                    $('#datepicker').val(this.startingdate);
                },

                UpDateTime: function () {
                    const newDate = $('#datepicker').val();
                    console.log(newDate);
                },

                GetBooking: function (exec) {
                    $('#exampleModalCenter').modal('hide');

                    this.Name = this.exec.Name;
                    this.Surname = this.exec.Surname;
                    this.Memberid = this.exec.MemberID;
                    this.startdatetime = this.exec.StartDateTime;

                },

                BacktoExecutive: function () {
                    $('#cancelbookingModal').modal('hide');
                },

                CancelBooking: function (exec) {

                    this.Memberid = this.exec.MemberID;
                    this.startdatetime = this.exec.StartDateTime;
                    axios.post('/ExeccareProfessionalServices/deleteDate/' + this.startdatetime + "/" + this.Memberid)
                        .then(response => {   
                            $('.loader').show();
                            window.location = '/ExecCareProfessionalServices/adminhome';

                        });

                }

            }

        });


        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }

    </script>
</body>


</html>