<html lang="en">

<head>
    <% include ../partials/head %>


</head>

<body>
    <header>


    </header>
    <main>
        <main>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-lg-6 col-lg-offset-3  fset">
                        <div class="row">

                            <img src="/public/images/dashboard.jpg" class="assmentimg" />
                            <div class="loader" style="display:none"></div>

                        </div>


                        <div class="row">

                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="#" class="btn btn-Danger">Log out </a>
                                <button type="button" class="btn btn-Danger">Register executive</button>
                                <button type="button" class="btn btn-Danger">Partial Complete</button>
                                <button type="button" href="views/Pages/login" class="btn btn-Danger">Calendar</button>
                                <a href="#" type="button" class="btn btn-Danger">Schedular </a>
                                <a href="#" type="button" class="btn btn-Danger"> Unlock</a>
                                <a href="http://sharptech.healthinsite.net/ExecCareReporting/mainPage.aspx" type="button" class="btn btn-Danger">Reports</a>
                            </div>



                        </div>
                        <div id="calendar"></div>

                    </div>


                </div>

            </div>
        </main>


        <footer>

        </footer>
        <script>
            function GetAllEvents() {
                $.ajax({
                    type: "get",
                    url: "/events",
                    success: success
                });

                function success(result) {

                    console.log(result);

                    $('#calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay,listWeek'
                        },
                        defaultDate: '2018-02-12',
                        navLinks: true, // can click day/week names to navigate views
                        editable: true,
                        eventLimit: true, // allow "more" link when too many events
                        events: result.events,
                        eventRender: function (event, element) {

                            console.log(event);

                            $(element).on({
                                click: function () {
                                    // Handle click...    
                                    //window.location.href = '/AssessmentCategories'
                                },
                                dblclick: function () {
                                    // Handle double click...
                                    $('.loader').show();
                                    window.location.href = '/AssessmentCategories/' + event.memberid;

                                    console.log(event);
                                    console.log(element);
                                }
                            });
                        }
                    });
                }
            }

            GetAllEvents();
        </script>

</body>

</html>